{% extends 'base.html.twig' %}

{% block title %}ToyRequest{% endblock %}

{% block body %}

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">ToyRequets</h1>
                <p class="lead text-muted"> Papa, Manan, je veux un jouet ! Promis j'ai ete super sage et  ...</p>
                <p>
                    <a href="" class="btn btn-primary">Demander un jouet </a>
                    <a href="#" class="btn btn-secondary">Traiter les demandes </a>
                </p>
            </div>

        </div>
    </section>

{% endblock %}
